@function rem($px) {
    @return ($px / 14px) + rem;
}

.table {
    position: relative;

    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
    min-width: fit-content;
    overflow-x: auto;

    width: 100%;

    .tooltip {
        align-self: center;
        margin-left: 10px;
    }

    &-header th {
        padding: 12px 12px; /* Отступы для заголовков */
        text-align: left; /* Выравнивание текста в заголовках */
        cursor: pointer; /* Указатель при наведении на заголовок */
        font-weight: 400; /* Начертание шрифта для заголовков */
        font-size: 16px; /* Размер шрифта для заголовков */
        color: #647383; /* Цвет текста заголовков */

        span {
            display: inline-block;
            margin-left: 4px;
        }
    }
    &__icons-header {
        display: flex;
    }
    tr {
        display: flex;
    }
    td,
    th {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eff2f6;
        &.title {
            padding-left: 24px;
            position: sticky;
            flex: 0 0 320px;
            max-width: 320px;
            gap: 10px;
            align-items: center;
            left: -1px;
            border-right: 1px solid #eff2f6;
            background: #fff;
            z-index: 1;
            & img {
                display: block;
                order: -1;
                border-radius: 8px;
                width: 28px;
                height: 28px;
            }
        }

        &.ytm,
        &.tcd {
            flex: 0 0 100px;
            max-width: 100px;
        }

        &.mSpread,
        &.gSpread {
            flex: 0 0 140px;
        }

        &.term,
        &.price {
            flex: 0 0 160px;
            max-width: 160px;
        }

        &.duration,
        &.couponRate,
        &.tradingVolumeLiquidity10Days,
        &.tradingVolumeTodayRUB,
        &.priceChangeDay,
        &.ytmChangeDay,
        &.couponFrequency {
            flex: 0 0 180px;
            max-width: 180px;
        }

        &.ratings,
        &.currency {
            flex: 0 0 160px;
            max-width: 160px;
        }

        &.nominalPercentage,
        &.qualifiedOnlyFlag,
        &.couponFormula {
            flex: 0 0 200px;
            max-width: 200px;
        }
    }

    &-body {
        tr {
            cursor: pointer;
            transition: background-color 300ms ease; /* Плавный переход фона при наведении */
            .tooltip {
                opacity: 0;
                transition: all 300ms ease;
            }

            &:hover {
                .tooltip {
                    opacity: 1;
                    transition: all 300ms ease;
                }
                background-color: #eff2f6; /* Цвет фона строки при наведении */
            }
        }
        td {
            display: flex;
            padding: 10px; /* Отступы для ячеек */
            font-weight: 700; /* Начертание шрифта для ячеек */
            font-size: 18px; /* Размер шрифта для ячеек */
            color: #121213; /* Цвет текста ячеек */
            width: fit-content;

            &.ratings {
                flex-direction: column;
                align-items: flex-start;
            }
            &.title {
                align-items: center;
                justify-content: flex-start;

                .tooltip {
                    margin-left: auto;
                }
            }

            .green {
                color: #5ad66a;
            }
            .red {
                color: #d65a5a;
            }
        }
    }
}
.rating-table-container {
    background: #eff2f6;
    max-width: fit-content;
    padding: 24px 16px;

    &.active {
        .range-dropdown-filter__header {
            min-width: 430px;
        }
    }
    th,
    td {
        border-bottom: 1px solid #f5f8f9;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: #121213;
        &:not(:last-child) {
            border-right: 1px solid #f5f8f9;
        }
    }
    thead {
    }
    tbody {
        td {
            &:not(:first-child) {
                text-align: center;
                label {
                    cursor: pointer;
                    input {
                        display: none;
                        appearance: none;

                        &:checked + span::after {
                            opacity: 1;
                        }
                        &:checked + span::before {
                            opacity: 1;
                            border: 2px solid #fff;
                        }
                    }
                    span {
                        position: relative;
                        padding-left: 20px;

                        &::after {
                            content: "";
                            position: absolute;

                            opacity: 0;
                            background: #47cb8f;
                            width: 8px;
                            height: 8px;
                            left: 2px;
                            top: 1.5px;
                            z-index: 2;
                            transition: all 300ms ease;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            border: 1px solid #647383;
                            border-radius: 2px;
                            width: 12px;
                            height: 12px;
                            left: 0;
                            top: -1px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}
.screener {
    h1 {
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -0.01em;
        color: #121213;
        margin-bottom: 24px;
    }
    &__block {
        border: 1px solid rgba(58, 181, 74, 0.2);
        border-radius: 24px;
        background: #fff;
        padding: 24px;
        margin-bottom: 20px;
    }
    &__filters {
        display: flex;
        gap: 24px 16px;
        align-items: flex-start;
        .multi-select {
            min-width: 235px;
            --rmsc-main: #eff2f6;
            --rmsc-hover: #f1f3f5;
            --rmsc-selected: #e2e6ea;
            --rmsc-border: #eff2f6;
            --rmsc-gray: #121213;
            --rmsc-bg: #eff2f6;
            --rmsc-p: 16px; /* Spacing */
            --rmsc-radius: 16px; /* Radius */
            --rmsc-h: 40px; /* Height */
            .dropdown-heading {
                span {
                    font-size: 16px;
                }
            }
            .dropdown-content {
                span {
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: -0.01em;
                    color: #121213;
                }

                & > div {
                    position: relative;

                    cursor: pointer;
                    margin-bottom: 18px;
                    .search {
                        background: #fff;
                        margin-bottom: 10px;
                        margin: 0px 10px 10px;
                        & input {
                            background: #fff;
                        }
                    }
                    .options input {
                        display: none;
                        appearance: none;

                        &:checked + span::after {
                            opacity: 1;
                        }
                        &:checked + span::before {
                            opacity: 1;
                            border: 2px solid #fff;
                        }
                    }
                    .options {
                        padding: 0px 10px;
                    }
                    span {
                        position: relative;
                        padding-left: 20px;

                        &::after {
                            content: "";
                            position: absolute;

                            opacity: 0;
                            background: #47cb8f;
                            width: 8px;
                            height: 8px;
                            left: 2px;
                            top: 1.5px;
                            z-index: 2;
                            transition: all 300ms ease;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            border: 1px solid #647383;
                            border-radius: 2px;
                            width: 12px;
                            height: 12px;
                            left: 0;
                            top: -1px;
                            z-index: 1;
                        }
                    }
                }
                .checkbox {
                    &:hover p::before {
                        border: 1px solid #e5e4e7;
                    }

                    & p::before {
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        left: 0;
                        top: 2px;
                        z-index: 1;
                        border: 1px solid #e5e4e7;
                        border-radius: 2px;
                    }

                    input[type="radio"].custom-checkbox + p::before,
                    input[type="radio"].custom-checkbox + p::after {
                        border-radius: 50%;
                    }

                    & a {
                        text-decoration: underline;
                        color: #0b05048c;
                    }
                }
                .custom-checkbox {
                }
            }
        }
    }

    &__btns {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
        }
    }
    &__toggle-columns {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        right: 0px;
        top: 37px;
        width: 100%;
        max-width: 500px;
    }
    &__toggle-btns {
        max-height: 320px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__toggle-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        h3 {
            font-weight: 700;
            font-size: 24px;
            letter-spacing: -0.01em;
            color: #121213;
        }
        button {
            font-weight: 700;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: #3a65b5;
        }
    }
    &__table-wrapper {
        border-radius: 24px;
        background: #fff;
        overflow-x: auto;
        margin-top: 20px;
        padding: 24px 12px;
        border: 1px solid rgba(58, 181, 74, 0.2);

        -webkit-overflow-scrolling: touch; /* Обеспечивает плавный скроллинг на iOS */
        scrollbar-width: thin; /* Устанавливает ширину скроллбара для Firefox */
        scrollbar-color: #3ab54a #e0e0e0; /* Цвет ползунка и трека для Firefox */
        padding-left: 0px;
        /* Стили для WebKit-браузеров (Chrome, Safari) */
        &::-webkit-scrollbar {
            display: block !important;
            height: 12px; /* Высота скроллбара */
            height: 6px !important;
            width: 6px !important;
        }

        &::-webkit-scrollbar-track {
            display: block !important;
            background: #e0e0e0; /* Цвет трека */
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 44px;
            background: #3ab54a;
        }
    }

    .range-dropdown-filter {
        border-radius: 16px;
        padding: 8px 16px;
        background: #eff2f6;
        max-width: fit-content;
        min-width: 235px;
        position: relative;
        z-index: 0;
        svg {
            margin: 0 0 0 5px;
            flex: 0 0 24px;
            width: 24px;
            height: 25px;
            stroke: #121213;
            transform: rotate(0deg);
        }
        &.active {
            z-index: 100;
            border-radius: 16px 16px 0px 0px;
            svg {
                transform: rotate(180deg);
            }
            .range-dropdown-filte__content {
                z-index: 100;
            }
        }
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-weight: 400;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: #121213;
        }
        &__content {
            position: absolute;
            top: 20px;
            left: 0px;
            margin-top: 12px;
            padding: 8px 16px;
            background: #eff2f6;
            border-radius: 12px;
            p {
                font-weight: 400;
                font-size: 12px;
                letter-spacing: -0.01em;
                color: #8599b1;
                margin-bottom: 8px;
            }
        }
        &__description {
            font-size: 12px;
            line-height: 1.5;
            color: #8599b1;
        }
        &__row {
            display: flex;
            align-items: center;
            gap: 7px;

            input {
                display: block;
                border-radius: 8px;
                width: 91px;
                height: 32px;
                background: #f5f8f9;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: -0.01em;
                color: #8599b1;
                padding: 8px 16px;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                letter-spacing: -0.01em;
                color: #647383;
            }
        }
    }
    &__done {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        padding: 10px 30px;
        background: #3ab54a;
        gap: 15px;

        font-weight: 700;
        font-size: 16px;
        letter-spacing: -0.01em;
        color: #f5f8f9;
    }
    &__reset {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        padding: 10px 30px;
        background: transparent;
        gap: 15px;

        font-weight: 700;
        font-size: 16px;
        letter-spacing: -0.01em;
        color: #3a65b5;
    }
    &__filters-row {
        display: flex;
        gap: 24px 16px;
        flex-wrap: wrap;
        flex: 1 1 auto;
    }
    &__filter-btns {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 0 0 300px;
    }
}
.search {
    width: 100%;
    margin-bottom: 28px;

    & input {
        display: block;
        background: #f5f8f9;
        border-radius: 16px;
        padding: 14px 24px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.01em;
        color: #8599b1;
        width: 100%;
    }
}
label {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #373f48;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    & > input {
        &[type="checkbox"] {
            appearance: none; /* Убираем стандартный стиль */
            width: 32px; /* Ширина переключателя */
            height: 16px; /* Высота переключателя */
        }
        &[type="checkbox"]:checked + .switch-btn {
            background-color: #47cb8f; /* Цвет фона при включении */
        }
        /* Позиционирование внутреннего круга при включении переключателя */
        &[type="checkbox"]:checked + .switch-btn::before {
            transform: translateX(14px); /* Сдвигаем круг вправо при включении */
        }
    }
    & > button.switch-btn {
        margin-left: 10px;
        &.active {
            transition: all 300ms ease;
            background-color: #47cb8f; /* Цвет фона при включении */
            &::before {
                background: #fff;
                transform: translateX(14px); /* Сдвигаем круг вправо при включении */
            }
        }
    }
}

.switch-btn {
    width: 32px; /* Ширина переключателя */
    height: 16px; /* Высота переключателя */
    background: #e5e5e5; /* Цвет фона выключенного состояния */
    position: relative; /* Для позиционирования внутреннего круга */
    border-radius: 20px; /* Скругление углов переключателя */
    transition: all 0.3s ease; /* Плавный переход цвета фона */
}

.switch-btn::before {
    content: "";
    position: absolute;
    height: 13px; /* Высота внутреннего круга */
    width: 13px; /* Ширина внутреннего круга */
    background: #8599b1; /* Цвет внутреннего круга */
    border-radius: 50%; /* Скругление углов внутреннего круга */
    transition: transform 0.3s ease; /* Плавный переход движения круга */
    top: 2px;
    bottom: 2px;
    left: 2.5px;
}

/* Позиционирование внутреннего круга при включении переключателя */
input[type="checkbox"]:checked + .switch-btn::before {
    transform: translateX(20px); /* Сдвигаем круг вправо при включении */
}
@media only screen and (max-width: 1600px) {
    .table {
        td,
        th {
            font-size: rem(16px);

            &.title {
                flex: 0 0 300px;
                max-width: 300px;
                gap: 10px;
                align-items: center;

                & img {
                    display: block;
                    order: -1;
                    border-radius: 8px;
                    width: 28px;
                    height: 28px;
                }
            }

            &.ytm,
            &.tcd {
                flex: 0 0 80px;
                max-width: 80px;
            }

            &.term,
            &.price {
                flex: 0 0 100px;
                max-width: 100px;
            }

            &.duration,
            &.mSpread,
            &.gSpread,
            &.couponRate,
            &.tradingVolumeLiquidity10Days,
            &.tradingVolumeTodayRUB,
            &.priceChangeDay,
            &.ytmChangeDay,
            &.couponFrequency {
                flex: 0 0 120px;
                max-width: 120px;
            }

            &.ratings,
            &.currency {
                flex: 0 0 140px;
                max-width: 140px;
            }

            &.nominalPercentage,
            &.qualifiedOnlyFlag,
            &.couponFormula {
                flex: 0 0 180px;
                max-width: 180px;
            }
        }
    }
}
@media only screen and (max-width: 1280px) {
    .screener__filters {
        display: block;

        &-row {
            gap: 12px;
            margin-bottom: 24px;
        }
        .range-dropdown-filter,
        .multi-select {
            min-width: fit-content;

            display: block;
        }
        &-formobile {
            border-radius: 16px;
            padding: 8px 16px;
            background: #eff2f6;
            flex: 1 1 auto;
        }
        &-popup {
            position: fixed;
            background: #fff;
            border-radius: 24px;

            inset: 0;

            padding: 60px 15px 0px;
            overscroll-behavior: contain;
            z-index: 100;

            &-row {
                display: flex;
                flex-direction: column;
                gap: 12px;
                overscroll-behavior: contain;
                overflow-y: auto;
                max-height: 100vh;
            }

            .range-dropdown-filter__content {
                overflow-x: auto;
                max-width: 100%;
                position: static;
                table {
                    max-width: 100%;
                }
            }

            .range-dropdown-filter,
            .multi-select {
                max-width: 100%;
            }
        }
    }

    .table {
        td,
        th {
            font-size: rem(12px);
            padding: 10px 20px;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: -0.01em;
            color: #121213;
            min-height: 50px;

            padding-right: 0px;

            &.title {
                gap: 10px;
                width: 100%;
                max-width: 180px;
                align-items: center;
                text-align: left;
                border-right: 1px solid #eff2f6;
                & img {
                    display: block;
                    order: -1;
                    border-radius: 8px;
                    width: 28px;
                    height: 28px;
                }

                & .tooltip {
                    display: flex;
                    opacity: 1;

                    color: #3ab54a;
                    background: transparent;
                    height: 10px;
                    width: 10px;
                    margin-left: 0px;
                }
            }

            &.ytm,
            &.tcd {
                flex: 0 0 60px;
                max-width: 60px;
            }

            &.term,
            &.price {
                flex: 0 0 70px;
                max-width: 70px;
            }

            &.duration,
            &.mSpread,
            &.gSpread,
            &.couponRate,
            &.tradingVolumeLiquidity10Days,
            &.tradingVolumeTodayRUB,
            &.priceChangeDay,
            &.ytmChangeDay,
            &.currency,
            &.couponFrequency {
                flex: 0 0 95px;
                max-width: 95px;
            }

            &.ratings {
                flex: 0 0 90px;
                max-width: 90px;
            }

            &.nominalPercentage,
            &.qualifiedOnlyFlag,
            &.couponFormula {
                flex: 0 0 130px;
                max-width: 130px;
            }
        }
        th {
            align-items: center;
            gap: 4px;

            &.title {
                .tooltip {
                    display: none;
                }
            }
        }
        td {
            text-align: center;
        }
        &__icons-header {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .tooltip {
                align-self: auto;
                margin-left: 0px;
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .screener__filters-row {
        justify-content: space-between;
    }
    .screener .range-dropdown-filter__row input {
        flex: 1 1 auto;
    }
    .screener .range-dropdown-filter.active {
        border-radius: 16px;
    }
}
@media only screen and (max-width: 450px) {
    .screener__filters .range-dropdown-filter {
        min-width: auto;
    }
    .rating-table-container.active .range-dropdown-filter__header {
        min-width: auto;
    }
    .screener__filters-popup .range-dropdown-filter__content {
        padding: 0px;

        label {
            font-size: 12px;
        }
    }
    .rating-table-container th:first-child,
    .rating-table-container td:first-child {
        padding: 4px 8px 4px 0px;
    }
    .rating-table-container th {
        padding: 10px 2px;
    }
    .rating-table-container th:not(:nth-child(3)) {
        padding: 10px 8px;
    }
    .rating-table-container td:not(:first-child) {
        padding: 5px 10px;
        label,
        span {
            width: 12px;
            height: 12px;
            margin: 0 auto;
        }
    }
}
