.link-arrow {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: #3a65b5;
    background: none;
    &:hover {
        text-decoration: underline;
    }
}
@media only screen and (max-width: 1400px) {
    .link-arrow {
        font-size: 12px;

        img {
            width: 16px;
            height: 16px;
        }
    }
}
@media only screen and (max-width: 1400px) {
    .link-arrow {
        font-size: 16px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}
