.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 8px;
    letter-spacing: -0.01em;
    color: #acacac;
    border: 1px solid #acacac;
    border-radius: 17px;
    width: 12px;
    height: 12px;
    align-self: flex-start;
    flex: 0 0 12px;
}
.tooltip-plus {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    background: #3ab54a;
    color: #fff;
    font-size: 16px;
    line-height: 0.1;
    border: none;

    & + .react-tooltip {
        font-size: 14px;
        max-width: fit-content;
    }
}
.react-tooltip {
    border: 1px solid rgba(58, 181, 74, 0.2);
    border-radius: 20px 20px 20px 0;
    padding: 8px 12px;

    max-width: 200px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #647383;
    box-shadow: 0 4px 12px 0 rgba(18, 18, 19, 0.12);
    background: #f5f8f9;
}
