#root {
  min-height: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 0px 24px;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  padding: 128px 0px 0px 0px;
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  #root {
    padding: 0px 14px;
  }
}
