#root {
  min-height: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 0px 24px;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  padding: 128px 0px 0px 0px;
  z-index: 2;
}
.search {
  position: relative;
  z-index: 4;
  width: 100%;
  margin-bottom: 28px;

  &.popup-open {
    z-index: 2;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 10px;
    border-radius: 8px;
    background: #3ab54a;
    width: 32px;
    height: 32px;
    & svg path {
      stroke: #fff;
    }
  }

  & input {
    display: block;
    background: #f5f8f9;
    border-radius: 16px;
    padding: 14px 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #8599b1;
    width: 100%;
  }

  &__tip {
    position: absolute;
    z-index: 4;
    left: 0px;
    top: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #f5f8f9;
    border-radius: 16px;
    padding: 14px 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #8599b1;
    width: 100%;

    & li {
      cursor: pointer;
      transition: all 300ms ease;

      &:hover {
        color: #3ab54a;
      }
    }
  }
}
label {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #373f48;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  & > input {
    &[type="checkbox"] {
      appearance: none; /* Убираем стандартный стиль */
      width: 32px; /* Ширина переключателя */
      height: 16px; /* Высота переключателя */
    }
    &[type="checkbox"]:checked + .switch-btn {
      background-color: #47cb8f; /* Цвет фона при включении */
    }
    /* Позиционирование внутреннего круга при включении переключателя */
    &[type="checkbox"]:checked + .switch-btn::before {
      transform: translateX(14px); /* Сдвигаем круг вправо при включении */
    }
  }
  & > button.switch-btn {
    margin-left: 10px;
    &.active {
      transition: all 300ms ease;
      background-color: #47cb8f; /* Цвет фона при включении */
      &::before {
        background: #fff;
        transform: translateX(14px); /* Сдвигаем круг вправо при включении */
      }
    }
  }
}
.switch-btn {
  width: 32px; /* Ширина переключателя */
  height: 16px; /* Высота переключателя */
  background: #e5e5e5; /* Цвет фона выключенного состояния */
  position: relative; /* Для позиционирования внутреннего круга */
  border-radius: 20px; /* Скругление углов переключателя */
  transition: all 0.3s ease; /* Плавный переход цвета фона */

  &::before {
    content: "";
    position: absolute;
    height: 13px; /* Высота внутреннего круга */
    width: 13px; /* Ширина внутреннего круга */
    background: #8599b1; /* Цвет внутреннего круга */
    border-radius: 50%; /* Скругление углов внутреннего круга */
    transition: transform 0.3s ease; /* Плавный переход движения круга */
    top: 2px;
    bottom: 2px;
    left: 2.5px;
  }
}
@media only screen and (max-width: 992px) {
  #root {
    padding: 0px 14px;
  }
}
